.comments-component-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EEEEEE;
    margin: 3px;
    border-radius: 4px;
    height: 100%;
    padding: 8px;

    .comments-header {
        font-size: 22px;
        font-weight: 700;
        line-height: 29.05px;
        padding-left: 8px;
        height: 10%;
    }

    .comments-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 90%;

        .comments-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: auto;
        }

        .key-element {
            position: relative;
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #EEEEEE;

            .key-content {
                display: flex;
                border-radius: 4px;
                overflow: visible;
                width: 100%;

                .key-content-body {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    padding: 8px;

                    .key-index {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        height: 20px;
                        width: 20px;
                        padding: 1px;
                        border-radius: 15px;
                        border: 1px black solid;
                    }

                    .key-quote {
                        display: flex;
                        flex: 1;
                        font-size: .75rem;
                        line-height: 1.5;
                        margin: 0 0 8px 0;
                        padding-left: 8px;
                        text-align: justify;
                        white-space: pre-wrap;
                    }
                }
            }

            .x-trash {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 3px;
                cursor: pointer;

                .white {
                    g {
                        fill: #fff
                    }

                }
            }
        }


        .input-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .comments-input {
            display: flex;
            background-color: #ffffff;
            border-radius: 10px;
            border: none;
            height: 30px;
            padding: 15px;
            font-size: 15px;
            width: 100%;
        }

        .comments-input-icon {
            position: absolute;
            right: 8px;
            height: 18px;
            cursor: pointer;
        }

    }
}