.tabs-container {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    width: 100%;

    .tab-button {
        width: 125px;
        height: 40px;
        border-radius: 4px;
        border: 0px;
        font-weight: 600;
        margin-right: 7px;
        background-color: #e6e6e6;

        &-selected {
            background-color: #19305A;
            color: #ffffff;
            font-weight: 700;
            line-height: 29.05px;
        }
    }
}