.modal-cover {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;

    .modal {
        position: relative;
        background-color: #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        height: 150px;
        width: 405px;
        padding: 0px 30px;
        border: 1px solid #111111;

        &-content {
            display: flex;
            background-color: inherit;
            border: none;
        }

        &-footer {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 10px;
        }

        &-button {
            border-radius: 4px;
            padding: 3px 10px;

            &-delete {
                color: white;
                font-weight: 200;
                background-color: #e21833;

            }

            &-cancel {
                color: white;
                font-weight: 200;
                background-color: #696969;
            }
        }
    }

    .highlight-modal {
        position: relative;
        background-color: #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        min-height: 350px;
        width: 500px;
        padding: 0px 30px;
        border: 1px solid #111111;

        .highlight-content {
            overflow: scroll;
            height: 150px;
            margin-bottom: 10px;
            font-size: 14px;
            border: 2px solid #e6e6e6;
            border-radius: 4px;
        }

        &-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;

            .highlight-modal-title {
                width: 100%;
                font-weight: 600;
            }

            .highlight-modal-dropdown {
                display: flex;
                margin-bottom: 10px;
                border-radius: 4px;
                width: 100%;
            }

            .highlight-modal-checkbox {
                margin-right: 10px;
            }

            .highlight-modal-textarea {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .3);
                border-radius: 4px;
            }
        }

        .highlight-modal-footer {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 15px 0px;

            &-button {
                border-radius: 4px;
                padding: 3px 10px;
                width: 100px;

                &-save {
                    color: white;
                    font-weight: 200;
                    background-color: #19305A;

                }

                &-cancel {
                    color: white;
                    font-weight: 200;
                    background-color: #696969;
                }
            }
        }
    }
}