.navigation-bar-container {
    margin-bottom: 50px;
}

.navigation-bar {
    display: flex;
    flex: 1;
    height: 70px;
    margin-bottom: 80px;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;

    .logo {
        height: 60px;
        border-radius: 20px;
        border: 1px solid;
        cursor: pointer;
    }

    .upload-pdf-button {
        padding: 7px 25px;
        border-radius: 15px;
        font-weight: 600;
        background-color: #19305A;
        color: #FFFFFF;
    }

}