.page-content {
    height: calc(100vh - 100px);
    width: 100%;
}

.navigation-bar {
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;

    border-bottom: #868686 4px solid;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;

    .logo {
        height: 80px;
        border-radius: 4px;
        cursor: pointer;
    }

    .upload-pdf-button {
        padding: 7px 25px;
        border-radius: 4px;
        font-weight: 600;
        background-color: #19305A;
        color: #FFFFFF;
    }

}